/*MOBILE FIRST!!!!!!*/
/*SPINNER*/
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*APP*/
body {
    overflow-x: hidden;
    min-height: 100vh;
}

html {
    overscroll-behavior: none;
    overflow-x: hidden;
}

* {
    font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    height: 50px;
    background-color: rgba(240, 248, 255, 0.836);
    position: sticky;
    top: 0;
    display: flex;
    z-index: 9999;
    /*flex-direction: row-reverse;*/
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.hideColumns {
    display: none;
}

.navLogo {
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: 24px;
    text-align: center;
}

.navLogo h1 {
    font-family: "Dancing Script", cursive;
    font-size: 16px;
}

.navLogo h2 {
    font-size: 12px;
    color: blueviolet;
    font-family: "Dancing Script";
}

.contH1Nav {
    border-bottom: 2px solid black;
}

.closedMenu {
    display: none;
}

.openMenu {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    color: blueviolet;
    gap: 10px;
    font-size: 20px;
}

nav li {
    list-style-type: none;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.btnDisplayMenu {
    font-size: 24px;
    margin-right: 24px;
    z-index: 2;
    border: none;
    background-color: transparent;
    color: black;
}

.displayMenu {
    position: fixed;
    top: calc(50px);
    /* Adjust according to your navbar height */
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    background-color: rgb(240, 248, 255);
    width: 300px;
    padding: 6px;
    padding-bottom: 15px;
    border-radius: 0 0 5px 5px;
    z-index: 99999;
    border-top: 4px solid blueviolet;
    box-shadow: 1px 22px 34px 0px rgba(163, 6, 240, 0.75);
    -webkit-box-shadow: 1px 22px 34px 0px rgba(163, 6, 240, 0.75);
    -moz-box-shadow: 1px 22px 34px 0px rgba(163, 6, 240, 0.75);
}



.displayMenu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
    width: 270px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 768px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.slider img {
    height: 100%;
    width: 100%
}


.rightBottomCorner {
    border-radius: 0 0 10px 0;
}

.leftBottomCorner {
    border-radius: 0 0 0 10px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}


.nameLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    /* Or relative, depending on your layout needs */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* Center text within the logo */
}


.nameLogo h1 {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
}

.nameLogo h2 {
    margin-top: -20px;
    font-family: "Dancing Script";
    font-size: 30px;
    margin-bottom: 12px;
    color: rgb(202, 152, 248);

}

.btnMyPaintings {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: aliceblue;
    padding: 8px;
    font-size: 16px;
}



/*FIRST SECTION*/

.firstSection,
.secondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 1rem;
}


.firstSection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    line-height: 2;
}

.imgAniSection1,
.imgAniSection2 {
    width: 60%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 21px 22px 0px -4px blueviolet;
    -webkit-box-shadow: 21px 22px 0px -4px blueviolet;
    -moz-box-shadow: 21px 22px 0px -4px blueviolet;
}

.imgAniSection2 {
    width: 100%;
    box-shadow: -23px -21px 0px -4px blueviolet;
    -webkit-box-shadow: -23px -21px 0px -4px blueviolet;
    -moz-box-shadow: -23px -21px 0px -4px blueviolet;
}

.firstSection h3 {
    font-size: 2rem;
    font-family: "Dancing script";
    text-align: center;
}

.whatsappIcon {
    position: fixed;
    display: flex;
    bottom: 15px;
    padding: 6px;
    left: 15px;
    width: 50px;
    height: 50px;
    z-index: 9999;
    border-radius: 50%;
    background-color: rgba(37, 211, 102, 1);
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, 0.829);
    transition: all 200ms ease-in-out;
}



.secondSectionInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-top: 3px solid blueviolet;
    border-bottom: 3px solid blueviolet;
}

.secondSectionInfo p {
    line-height: 2;
    margin-bottom: 20px;
}

.secondSectionInfo h2,
.titleAgendas {
    margin-top: 10px;
    font-size: 2rem;
    font-family: "Dancing Script";
    text-align: center;
}

.titleAgendas {
    font-size: 40px;
}

/*SOCIAL MEDIA SECTION*/

.socialMedia-section {
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 30px;
    gap: 20px;
}

.socialMedia-container ul {
    display: flex;
    gap: 30px;

}

.socialMedia-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    list-style-type: none;

}

.svg,
.btnMyPaintings img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

/*FOOTER*/

footer,
.titleBg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: rgb(132, 63, 251);
    background: radial-gradient(circle, rgba(132, 63, 251, 1) 0%, rgba(250, 70, 252, 1) 100%);
}

.titleBg {
    height: 60px;
    background: url('../src/components/imgs/BG2.jpg') no-repeat center center / cover;
    padding: 10px;
}

.titleBg h1 {
    font-size: 24px;
    color: aliceblue;
}

footer p {
    width: 65%;
    text-align: center;
    color: rgba(240, 248, 255, 0.685);
    font-size: 13px;
}

/*SECTION AGENDA*/

.sectionAgenda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 30px;
    padding-bottom: 1rem;

}

.agendaSlider {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 24px;
    border-top: 3px solid blueviolet;
    border-bottom: 3px solid blueviolet;
    width: fit-content;
    height: fit-content;
    padding: 30px;
}

.agendaContainer img {
    border: none;
    border-radius: 16px;
    height: 100%;
}

.agendaContainer {
    background-color: rgba(137, 43, 226, 0.274);
    border-radius: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
}

.viewOnInstagram,
.viewOnInstagram button a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: black;
}

.viewOnInstagram button {
    background-color: rgba(137, 43, 226, 0.274);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#firstSection-container2,
.titleAgendas,
.secondSection,
.secondSectionInfo,
.viewOnInstagram,
.socialMedia-container,
.socialMedia-section,
.cuadro,
.paintingImgs-box {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 10% cover 25%;
}

.slider img {
    display: none;
}

.btnMyPaintings img {
    display: block;
}

.video-wrapper {
    position: relative;
    width: 100%;
}

.video-wrapper video {
    width: 100%;
    display: block;
    position: relative;
}


/* Overlay sutil */
.video-wrapper::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0.486) 100%
    );

}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.7) 50%,
            rgba(0, 0, 0, 0.3) 100%);
}


.paintingContainerSlider,
.paintingImgs-section,
.father-paintingsSection {
    margin-top: 4px;
    view-timeline-name: none;
    animation-name: none;
    animation-fill-mode: none;

    animation-timeline: none;
    animation-range: none;
}

.paintingImgs-section {
    width: 350px;
    margin: 20px auto;
    columns: 2;
    column-gap: 12px;
}

.paintingImgs-section img {
    max-width: 100%;
    height: 100% auto;
    border-radius: 16px;
    transition: all 200ms ease-in-out;
}

.paintingImgs-box {
    margin-top: 10px;
    width: inherit;
    height: inherit;
}

.paintingImgs-section img:hover {
    transform: scale(1.03);
}

.my-icon {
    color: aliceblue;
}

/* Define the slide-in animation */
@keyframes slideInFromSide {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.scrollToTopBtn {
    text-align: center;
    border: none;
    border-radius: 6px 0 0 6px;
    background: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    position: fixed;
    z-index: 99999;
    bottom: 125px;
    padding: 6px;
    right: 0px;
    font-size: 24px;
    width: 40px;
    animation: slideInFromSide 1s ease-in-out;
    /* Apply the animation */
}

/* Additional styles for hover effect (optional) */
.scrollToTopBtn:hover {
    background: rgba(0, 0, 0, 0.6);
    /* Darker background on hover */
}

.linkTo-aboutMe-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 6px;
    border-radius: 6px;
    border: 2px solid black;
    color: black;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.linkTo-aboutMe-btn:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, 0.11);
}

.linkTo-aboutMe-btn .showSeeMore {
    opacity: 0;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-10px);
}

.linkTo-aboutMe-btn:hover .showSeeMore {
    opacity: 1;
    transform: translateX(0);
}

#firstSection-container2 .showSeeMore {
    width: 16px;
    height: 16px;
}

textarea {
    resize: none;
}

.seeMorePaintings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnMyPaintings img {
    display: block;
}

.btnMyPaintings {
    display: flex;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
    padding: 6px;
    padding-right: 0px;
}


/*ANIMATIONS*/

@keyframes show {
    from {
        opacity: 0.5;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}


/*FOOTER NAVBAR*/
.footer-navbar {
    display: flex;
    flex-direction: column;
    height: 340px;
    background: url('../src/components/imgs/BG2.jpg') no-repeat center center / cover;
    margin-top: 3rem;
}

.footer-navbar .navbar img {
    display: none;
}

.footer-navbar .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 2rem;
    background-color: transparent;
    color: aliceblue;
}

.footer-navbar a:hover {
    color: rgba(137, 43, 226, 0.596);
}

/*ENVIO SECTION*/

.envioSection {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 2rem;
}

.envioSection img {
    width: 30px;
}

.envioSection span {
    color: blueviolet;
}

.text-left {
    text-align: left;
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}


.firstSection-info span {
    color: blueviolet;
    font-weight: bold;
}




/*RESPONSIVE DESIGN*/

@media(min-width: 768px) {
    .envioSection img {
        width: 40px;
    }

    .envioSection {
        font-size: 30px;
    }

    .footer-navbar .navbar {
        display: flex;
        flex-direction: row;
        gap: 20px;
        background-color: transparent;
        color: aliceblue;
    }

    .footer-navbar {
        height: 250px;
        background: url('../src/components/imgs/BG2.jpg') no-repeat center center / cover;
    }

    .socialMedia-section {
        margin-bottom: 0px;
    }

    button:hover {
        cursor: pointer;
    }

    nav {
        padding: 12px;
        z-index: 9999;
    }

    .navBar {
        position: sticky;
        top: 0;
        height: 70px;
    }

    .navBar h1 {
        font-size: 24px;
    }

    .navBar h2 {
        font-size: 16px;
    }

    .closedMenu {
        display: flex;
        margin-right: 24px;
        gap: 24px;
    }

    .closedMenu li a {
        display: flex;
        align-items: center;
    }

    .closedMenu li {
        font-size: 14px;
    }

    .closedMenu a {
        transition: all 100ms ease-in-out;
    }

    .closedMenu a:hover {
        color: blueviolet;
    }

    .closedMenu a:active {
        transform: scale(1);
        color: rgb(182, 129, 233);
    }

    .btnDisplayMenu {
        display: none;
    }

    .container {
        max-width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }

    .slider img {
        display: none;
    }

    .btnMyPaintings {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 24px;
        padding: 12px;
        padding-right: 0px;
    }

    .btnMyPaintings img {
        display: block;
        transform: scale(1.2);
    }


    .nameLogo {
        position: absolute;
        top: 10%;
        left: 32%;
    }

    .nameLogo h1 {
        font-size: 80px;
        color: white;
    }

    .nameLogo h2 {
        font-size: 40px;
    }

    .firstSection {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .firstSection-info div {
        font-size: 20px;
    }

    .firstSection-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 40px;
        margin-top: 1rem;
    }

    .firstSection-container img {
        width: 30%;
        height: 30%;
    }

    .firstSection-container h3 {
        font-size: 2.5rem;
        text-align: left;
    }

    .firstSection-container p {
        font-size: 2rem;
    }

    #firstSection-container2 {
        display: flex;
        flex-direction: row-reverse;
        gap: 70px;
    }

    #firstSection-container2 img {
        width: 40%;
        height: 40%;
    }

    .agendaContainer,
    .viewOnInstagram button,
    .socialMedia-section li {
        transition: all 200ms ease-in-out;
    }

    .agendaContainer:hover,
    .viewOnInstagram button:hover,
    .socialMedia-section li:hover {
        background-color: rgb(186, 112, 255);
        transform: scale(1.04);
    }

    .whatsappIcon {
        transform: scale(1.2);
        position: fixed;
        z-index: 9999;
        bottom: 30px;
        left: 30px;
    }

    .whatsappIcon:hover {
        cursor: pointer;
        transform: scale(1.25);
        background-color: rgb(17, 179, 76)
    }

    .titleAgendas {
        font-size: 3rem;
    }

    video {
        display: block;
        width: 100%;
    }

    .cuadro button:hover,
    .addToCart:hover {
        transition: all 100ms ease-in-out;
        background-color: rgba(137, 43, 226, 0.795);
        transform: scale(1.1);
    }

    .cuadro .seeMoreBtn:hover {
        background-color: transparent;
    }

    .paintingCard {
        position: relative;
    }

    .sectionPaintingInfo .paintingCard img {
        border-radius: 6px 0px 0px 6px;
    }

    .sectionPaintingInfo .paintingCard .paintingContainer {
        border-radius: 0px 6px 6px 0px;
    }

    .showInOffer {
        position: absolute;
        left: 12%;
    }

    .nameLogo {
        /* Adjustments for desktop screens */
        top: 22%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .paintingImgs-section {
        width: 1200px;
        margin: 20px auto;
        margin-top: 2rem;
        columns: 3;
        column-gap: 30px;
    }

    .paintingImgs-section img {
        max-width: 100%;
        height: 100%;
        border-radius: 16px;
    }

    .paintingImgs-box {
        margin-top: 10px;
    }

    .agendaContainer img {
    width: 100%;
        border: none;
    }
    
    .agendaContainer:hover {
        cursor: pointer;
        transform: scale(1.04) !important;
    }

    .agendaContainer {
        background-color: rgba(137, 43, 226, 0.274);
        border-radius: 16px;
        width: 200px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
        text-align: center;
    }
}