.agendas {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titleAndbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnAgenda, .buy-book-btn {
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 50px;
    background: blueviolet;
    font-size: 1rem;
    margin-top: 2rem;
}
.btnAgenda{
    margin-top: 5rem;
}

.agendaCustomization {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.formContainer {
    margin: 3rem;
}
.formContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 6px;
}
form label {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form input, form select, textarea{
    padding: 6px;
    background-color: aliceblue;
    border-radius: 6px;
    margin-top: 2%;
    color: black;
}

form h1 {
    font-size: 20px;
}
.title-agenda-customization {
    margin-bottom: 32px;
}
.title-agenda-customization h1, .title-agenda-customization p {
    text-align: start;
}
.title-agenda-customization p {
    color: gray;
    font-size: 13px;
}
form button {
    background-color: blueviolet;
    padding: 6px;
    border-radius: 6px;
    border: none;
}
.btnSubmitContainer {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
}
#btnSubmitAgenda {
    padding: 8px;
}
.formContainer form input[type="color"] {
    width: 250px;
    border: 2px solid gray;
}

.myAgenda-name-container h2 {
    font-size: 35px;
}

.customAgenda {
    margin: 2rem;
}

.customAgenda h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
}
.arriba-derecha, .arriba-izquierda, .abajo-derecha, .abajo-izquierda {
    position: absolute;
}
.arriba-derecha {
    top: 2%;
    right: 5%;
}
.arriba-izquierda {
    top: 2%;
    left: 5%;
}
.abajo-izquierda {
    bottom: 8%;
    left: 5%;
}
.abajo-derecha {
    bottom: 8%;
    right: 5%;
}
.myAgenda-img-container {
    position: relative;
}
.customAgenda img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.customAgenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 8px;
}




.agenda-price-container h3 {
   font-family: 'Dancing Script';
   font-size: 25px;
}

.agendaPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 10%;
}
.agendaPageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 12px 0px 0 12px;
    border: none;
}
.agendaPageContainer .agendaContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 300px;
    width: auto;
    padding: 0px;
    padding-right: 5rem;
    background-color: aliceblue;
}
.section-agendaText {
    margin: 5%;
    margin-top: 10%;
}
.section-agendaText-container h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
}
.section-agendaText-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 3px solid blueviolet;
    border-bottom: 3px solid blueviolet;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-agendaText-container p {
    line-height: 40px;
}
.section-agendaText-flex-column {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.section-agendaText-flex-column  span {
    font-weight: bold;
    color: blueviolet;
}

.dropDownImgs-container {
    height: 250px;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}
.dropDownImgs-container img {
    width: 150px;
    height: auto;
    border-radius: 12px;
}
.dropDownAgendas {
    border: 2px solid gray;
    padding: 4px;
    border-radius: 8px;
}
.dropDownArrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropDownAgendas-btn {
    background-color: transparent;
    color: black;
}

/*DESKTOP STYLES FOR AGENDAS*/
@media(min-width: 768px){
    .agendas {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 8%;
        margin-left: 8%;
    }
    .agendaPageContainer {
        margin: 3%;
    }
    .agendas button {
        transition: all 200ms ease-in-out;
    }
    .agendas button:hover {
        background-color: rgba(137, 43, 226, 0.726);
        transform: scale(1.04);
    }
    .agendaCustomization {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 100px;
        margin-left: 20%;
        margin-right: 15%;
        margin-top: 3rem;
    }
    .agendaCustomization img {
        height: 400px;
        width: auto;
        object-fit: cover;
    }
    .agendaCustomization form {
        width: 250px;
    }
    .dropDownImgs-container img {
        width: 150px;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
    }
    .dropDownAgendas {
        border: 2px solid gray;
        padding: 4px;
        
        border-radius: 8px;
    }
    .dropDownImgs-container {
        overflow-x: hidden !important;
    }
    
    .dropDownArrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .dropDownAgendas-btn {
        background-color: transparent;
        color: black;
    }
    .btnAgenda {
        font-size: 32px;
    }
}
